@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "K2D", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --primary:#000000;
    --secondary:#FFFFFF;
    --one:#84ADC7;
    --one-hover:#84adc7e1;
    --two:#233F6E;
    --two-hover:#233e6eee;
    --font-hover:#212121ab;
}

body{
   height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 78vw;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.nav-bar{
    display: flex;
    position: relative;
    gap: 40px;
    list-style: none;
    font-size: 18px; 
    font-weight: 500;
    margin-left: 10px;
}

.nav-bar li a {
    text-decoration: none;
    color:var(--primary);
  }

  .nav-bar li a:hover{
    color: var(--font-hover);
  }

.logo {
  display: none;
}

.right-nav{
    display: flex;
    align-items: center;
}

.login-btn {
  padding: 5px;
  width: 90px;
  border-radius: 5px;
  border: none;
  background-color:var(--secondary);
  color:var(--primary);
  margin-right: 5px; 
  font-size: 17px; 
  font-weight: 500; 
  border: 1.8px var(--secondary) solid; 
}

.login-btn:hover{
    background-color:var(--primary);
    border: 1.5px var(--primary) solid; 
    color: var(--secondary);
    
}

.register-btn{
  padding: 5px;
  width: 90px;
  border-radius: 5px;
  border: none;
  background-color:var(--secondary);
  color:var(--primary);
  font-size: 17px; 
  font-weight: 500; 
  border: 1.8px var(--primary) solid; 

}

.register-btn:hover{
    background-color:var(--primary);
    color:var(--secondary);
}

.username-text{
  padding: 5px;
  width: 90px;
  font-size: 17px; 
  font-weight: 500; 
}

.username-text a{
  text-decoration: none;
  color:var(--primary);
}

.username-text a:hover{
  color: var(--font-hover);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin:5px;   
  }
  
  .container{
    width:78vw;
    height: 500px;
    display: flex;
    gap:10px;
  }

  .col-right,
  .row1 {
    background-image: url(../images/spider.png); /* Use the same image */
    border-radius: 20px;
    background-size: cover; /* Ensure the image scales to fill the div */
    background-position: center top; /* Align image at the center */
    background-attachment: fixed; /* Makes the background static like a window */
    
  }
  
  .col-left{
    flex:3;
    display: flex;
    flex-direction: column;
    gap:10px;
   
  }
  
  .col-right{
    flex:2;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    
  .vote-button{
    padding:8px;
    width: 160px;
    border-radius: 10px;
    border: none;
    background-color:var(--secondary);
    color:var(--primary);
    font-size: 19px;
    letter-spacing: 1;
    align-self: self-end;
    margin-bottom: 40px;
    font-weight: 700;
  }

  .vote-button:hover{
    background-color:var(--primary);
    color:var(--secondary);
  
  }
  
  .row{
    gap:10px;
    border-radius: 20px;
  }
  
  .row1{
    flex:4;
    color:var(--secondary);
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-left: 30px;
    padding-right: 20px;
    align-items: left;
    justify-content: center;

  }

  .topic-5{
    font-size: 20px;
    letter-spacing: 1;
  }

  .topic-1{
    font-size: 55px;
    letter-spacing: 1;
    margin-bottom: 10px;
  }


  .topic-4{
    font-size: 22px;
    letter-spacing: 1;
  }
  
  .row2{
    flex:2;
    display: flex;
    gap:10px;
  
  }
  
  .row-col{
    border-radius:20px;
  }
  
  .col1{
    flex:1;
    background-color: var(--one);
    display: flex;
    flex-direction: column;
    color: var(--secondary);
  }

  .col1:hover{
    background-color: var(--one-hover);
  }


  .topic-6{
    align-items: left;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1;
    padding-left: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .arrow{
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 10px;
    
  }

  .arrow img{
    width: 20px;
    height: 20px;
  }

  .col2{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: var(--two);
    color: var(--secondary);
  }

  .col2:hover{
    background-color: var(--two-hover);
  }


  /* Responsive */

/* 2xl */
@media only screen and (max-width: 1536px){
    body{
    /* background-color: #EB293B; */
    }
}


/* xl */
@media only screen and (max-width: 1280px){

    body{
        /* background-color: #eb9729; */
    }

    nav,.container{
        width:83vw;
    }

    .topic-5{
        font-size: 20px;
      }
    
      .topic-1{
        font-size: 50px;

      }
      .topic-4{
        font-size: 22px;
      }
   
}


/* lg */
@media only screen and (max-width: 1024px){

    body{
        /* background-color: #c1eb29; */
    }
    nav,.container{
        width:85vw;
    }

    .row1{
        gap:18px;
    }

    .topic-5{
        font-size: 18px;
      }
    
      .topic-1{
        font-size: 48px;

      }
      .topic-4{
        font-size: 20px;
      }

   

    .col-right{      
        /* background-image:url(../images/23.png); */
      }

    .topic-6{
        font-size: 29px;
        margin-top: 0px;
    }


}


@media only screen and (max-width: 768px){ 

  .logo{
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-left: 8px;
  }

    body{
        /* background-color: #29eb29; */
    }

    .topic-5{
        font-size: 18px;
      }
    
      .topic-1{
        font-size: 46px;

      }
      .topic-4{
        font-size: 18px;
      }

    .nav-bar {
        flex-direction: column;
        position: absolute;
        top:12%;
        left: 4%;
        background-color:var(--secondary);
        width: 88vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;

    }

    .nav-bar li{
      margin-top: 10px;
        margin-bottom: 20px;
    }

    .show{
        opacity: 1;
    }

    .menu-item{
        margin-left: 20px;
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        display: grid;
        place-items: center;
        position: relative;
    }

    .menu-item span{
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background-color: var(--primary);
        opacity: 1;
        transition: 0.3s;
        
    }

    .menu-item span.change:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      
      .menu-item span.change:nth-child(2) {
        opacity: 0;
      }
      
      .menu-item span.change:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
      }


      .topic-6{
        font-size: 26px;
    }

    .arrow{
        width:25px;
        height: 25px;
      }

      .arrow img{
        width: 18px;
        height: 18px;
      }

}

   

@media only screen and (max-width: 640px){

    body{
        /* background-color: #2984eb; */         
    }

    .container{
        flex-direction: column;       
    }

    .col-right{
      flex:1;
    }
    
    .topic-1{
        font-size: 40px;
    }
    
     .topic-4{
        font-size: 18px;
      }

    .arrow{
        width:22px;
        height: 22px;
    }
    
    .arrow img{
        width: 16px;
        height: 16px;
    }

}

@media only screen and (max-width: 475px){
    body{
        /* background-color: #e529eb; */
    }
}
