
nav {
  width: 78vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav-bar {
  display: flex;
  position: relative;
  gap: 40px;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

.nav-bar li a {
  /* text-decoration: none; */
  color: var(--primary-color);
}

.nav-bar li a:hover {
  color: var(--font-hover);
}

.logo {
  display: none;
}

.right-nav {
  display: flex;
  align-items: center;
}

/* Responsive */

@media only screen and (max-width: 1536px) {
}


@media only screen and (max-width: 1280px) {
  nav {
    width: 83vw;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    width: 85vw;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    display: block;
    font-size: 60px;
    font-weight: bold;
    margin-left: 8px;
  }

  .nav-bar {
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: 4%;
    background-color: var(--secondray-color);
    width: 88vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
  }

  .nav-bar li {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .show {
    opacity: 1;
  }

  .menu-item {
    margin-left: 20px;
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: grid;
    place-items: center;
    position: relative;
  }

  .menu-item span {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--primary-color);
    opacity: 1;
    transition: 0.3s;
  }

  .menu-item span.change:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-item span.change:nth-child(2) {
    opacity: 0;
  }

  .menu-item span.change:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media only screen and (max-width: 640px) {
}

@media only screen and (max-width: 475px) {
}
